body
{
    background-color: #333;
    color: white;
}

h1
{
    background-color: darkred;
    cursor: pointer;
    padding: 1%;
}

h2
{
    background-color: rebeccapurple;
    text-align: center;
}

h3
{
    background-color: firebrick;
}

h4
{
    background-color: darkcyan;
}

img, video
{
    max-height: 50%;
    max-width: 100%;
}

ul
{
    padding: 0;
    text-align: right;
}

i
{
    background-color: crimson;
    padding: 1.5%;
    border-radius: 5%;
}

i:hover
{
    cursor: pointer;
}

.social
{
    background-color: rgb(17, 1, 1);
}

.fa
{
    font-size: 200%;
}

.smcaps
{
    font-variant: small-caps;
}